In [1]:
import pandas as pd
import os

In [2]:
# Define the path to the Excel file
folder_path = "../BoS (Business Objects) Raw Data Reports - Deidentified"
file_name = "143 RAW Client Data Export v3_EE Workflow.xlsx"
file_path = os.path.join(folder_path, file_name)

In [13]:
# Initialize a list to collect all counts
all_counts = []

In [3]:
# Get the program from the file name
program_name = file_name.split(" ")[0]
print(f"We are looking at Program {program_name} data")

We are looking at Program 143 data

In [4]:
df_disability_ent = pd.read_excel(file_path, sheet_name="EE UDES")
df_disability_ent.head()

,EE Provider ID,Housing Status(6209),Does the client have a disabling condition?(1139),Survivor of Domestic Violence(341),Enrollment CoC(10735),City of Residence(1950),County of Residence(1951),Zip Code of Last Permanent Address(1136),Prior Living Situation(43),Length of Stay in Previous Place(1138),"On the night before did you stay on the streets, ES or SH?(12479)",Approximate date this episode of homelessness started(12480),"Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(12481)","Total number of months homeless on the street, in ES or SH in the past three years(12482)"
0,"Community Housing Network, Inc. - Grafton SHU ...",Stably housed (HUD),Yes (HUD),NaN,MI-503 (Macomb),NaN,Macomb,NaN,"Emergency shelter, including hotel or motel pa...",NaN,NaN,NaT,NaN,NaN
1,"Community Housing Network, Inc. - Grafton SHU ...",Category 1 - Homeless (HUD),No (HUD),NaN,MI-503 (Macomb),NaN,Macomb,NaN,"Emergency shelter, including hotel or motel pa...",NaN,NaN,NaT,NaN,NaN
2,"Community Housing Network, Inc. - Grafton SHU ...",Category 1 - Homeless (HUD),No (HUD),NaN,MI-503 (Macomb),NaN,Macomb,NaN,"Emergency shelter, including hotel or motel pa...",NaN,NaN,NaT,NaN,NaN
3,"Community Housing Network, Inc. - Grafton SHU ...",Category 1 - Homeless (HUD),No (HUD),NaN,MI-503 (Macomb),NaN,Macomb,NaN,"Emergency shelter, including hotel or motel pa...",NaN,NaN,NaT,NaN,NaN
4,"Community Housing Network, Inc. - Grafton SHU ...",Category 4 - Fleeing domestic violence (HUD),No (HUD),Yes (HUD),MI-504 (Oakland),NaN,Oakland,48327.0,Safe Haven (HUD),"One month or more, but less than 90 days",NaN,2015-09-07 12:00:00,One time (HUD),More than 12 months (HUD)

In [8]:

df = pd.read_excel(file_path, sheet_name="EE UDES")
df = df.rename(columns={'Prior Living Situation(43)': 'Prior Living Situation','Regardless of where they stayed last night - Number of times the client has been on the streets, in ES, or SH in the past three years including today(12481)': 
                        'Times Homeless (3 years)', 'Total number of months homeless on the street, in ES or SH in the past three years(12482)': 'Months Homeless (3 years)'})
df["Months Homeless (3 years)"] = df["Months Homeless (3 years)"].replace({"One month (this time is the first month) (HUD)": "1", "More than 12 months (HUD)": "More than 12"})
df = df.fillna("Not Specified")

specified_columns = ['Prior Living Situation', 'Times Homeless (3 years)', 'Months Homeless (3 years)']
df_selected = df[specified_columns]

df_selected.head()

,Prior Living Situation,Times Homeless (3 years),Months Homeless (3 years)
0,"Emergency shelter, including hotel or motel pa...",Not Specified,Not Specified
1,"Emergency shelter, including hotel or motel pa...",Not Specified,Not Specified
2,"Emergency shelter, including hotel or motel pa...",Not Specified,Not Specified
3,"Emergency shelter, including hotel or motel pa...",Not Specified,Not Specified
4,Safe Haven (HUD),One time (HUD),More than 12

In [9]:
prior_living_counts = df_selected['Prior Living Situation'].value_counts(dropna=False).reset_index()
prior_living_counts.columns = ['Prior Living Situation', 'Count']
prior_living_counts['Program'] = program_name
prior_living_counts

                               Prior Living Situation  Count Program
0   Emergency shelter, including hotel or motel pa...    288     143
1   Place not meant for habitation (e.g., a vehicl...    255     143
2                                       Not Specified    209     143
3   Rental by client, with ongoing housing subsidy...     45     143
4   Staying or living in a family member’s room, a...     39     143
5   Rental by client, no ongoing housing subsidy (...      9     143
6    Foster care home or foster care group home (HUD)      6     143
7   Transitional housing for homeless persons (inc...      5     143
8   Hotel or motel paid for without emergency shel...      5     143
9   Staying or living in a friend’s room, apartmen...      4     143
10                                   Safe Haven (HUD)      2     143
11  Substance abuse treatment facility or detox ce...      1     143
12                                        Other (HUD)      1     143
13  Hospital or other residential non-psychiatric ...      1     143
14  Psychiatric hospital or other psychiatric faci...      1     143

In [14]:
all_counts.append(prior_living_counts)
all_counts

[                               Prior Living Situation  Count Program
 0   Emergency shelter, including hotel or motel pa...    288     143
 1   Place not meant for habitation (e.g., a vehicl...    255     143
 2                                       Not Specified    209     143
 3   Rental by client, with ongoing housing subsidy...     45     143
 4   Staying or living in a family member’s room, a...     39     143
 5   Rental by client, no ongoing housing subsidy (...      9     143
 6    Foster care home or foster care group home (HUD)      6     143
 7   Transitional housing for homeless persons (inc...      5     143
 8   Hotel or motel paid for without emergency shel...      5     143
 9   Staying or living in a friend’s room, apartmen...      4     143
 10                                   Safe Haven (HUD)      2     143
 11  Substance abuse treatment facility or detox ce...      1     143
 12                                        Other (HUD)      1     143
 13  Hospital or other residential non-psychiatric ...      1     143
 14  Psychiatric hospital or other psychiatric faci...      1     143]

In [11]:
times_homeless_counts = df_selected['Times Homeless (3 years)'].value_counts(dropna=False).reset_index()
times_homeless_counts.columns = ['Times Homeless (3 years)', 'Count']
times_homeless_counts['Program'] = program_name
times_homeless_counts

   Times Homeless (3 years)  Count Program
0             Not Specified    372     143
1            One time (HUD)    268     143
2  Four or more times (HUD)    110     143
3           Two times (HUD)     83     143
4         Three times (HUD)     34     143
5  Data not collected (HUD)      4     143

In [ ]:
months_homeless_counts = df_selected['Months Homeless (3 years)'].value_counts(dropna=False).reset_index()
months_homeless_counts.columns = ['Months Homeless (3 years)', 'Count']
months_homeless_counts['Program'] = program_name
months_homeless_counts

   Months Homeless (3 years)  Count Program
0              Not Specified    373     143
1               More than 12    172     143
2                          6     56     143
3                          1     51     143
4                          2     39     143
5                          5     36     143
6                          3     34     143
7                          4     30     143
8                          7     23     143
9                         12     16     143
10                        10     15     143
11                        11     10     143
12                         8      9     143
13                         9      7     143